<html ng-app="app">
	<head>
		<script src="js/lib/angular.min.js"></script>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div class="container" ng-controller="mainPage">


			<section>
				<nav>
					<button class="btn btn-default">Add new Mobile</button>
				</nav>

				<div class="well well-lg">
					<form class="form-horizontal">
						<div class="left">
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">Model</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputPassword3" placeholder="Model Name" ng-model="query">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Brand</label>
								<div class="col-sm-10">
									<select class="form-control">
										<option>Sony</option>
										<option>Samsung</option>
										<option>Apple</option>
										<option>Nokia</option>
										<option>LG</option>
									</select>
								</div>
							</div>
						</div>
						<div class="right">
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10 text-right">
									<button type="submit" class="btn btn-default">Search</button>
								</div>
							</div>
						</div>
					</form>
					<div class="clearfix"></div>
				</div>

				<table class="table table-bordered table-striped">


					<tr> <th></th> <th>Brand</th> <th>Model</th> <th>Year</th> </tr>
					<tr ng-repeat="phone in phones | filter:query" data-info="{{phone.info}}">
						<th scope="row">{{phones.indexOf(phone) + 1}}</th>
						<td>{{phone.brand}}</td>
						<td>{{phone.model}}</td>
						<td>{{phone.year}}</td>
					</tr>


				</table>


				<div class="panel panel-default">
					<div class="panel-heading text-center"><strong>Panel heading</strong></div>
					<div class="panel-body">
						{{currentInfo}}
					</div>
				</div>

			</section>
			<aside></aside>



		</div>

		<script src="js/script.js"></script>
		<script src="js/controller/mainPage.js"></script>
	</body>
</html>